# Ignore build files and dependencies
typings/
bower_components/
build/
lib/
node_modules/
.sass-cache/
__pycache__/

# Ignore certain IntelliJ files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.settings/launch.json

# Ingore Atom files
tsconfig.json

# Ignore OSX files
.DS_Store

# Ignore flask virtual environment
flask/
tmp/

# Ignore application config file
config.py

# Ignore generated static pages for flask app
server/static/

# DB files
app.db
db_repository/
