body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

.noDisplay {
  display: none; }

.loadingIndicator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.homeView {
  width: 100%; }

.btnAddNewGame {
  clear: both;
  float: right; }

.suggestionCardBody, .title, .endorsements, .btnEndorse {
  text-align: center;
  margin: 5% 10%; }

.title {
  font-size: 10pt;
  font-weight: bold; }

.endorsements {
  font-size: 8pt; }

.btnEndorse {
  width: 80%; }

.divSearchContainer {
  padding: 10px 10px; }

.clearingDiv {
  clear: both; }

.searchElements {
  width: 100%; }

.btnSearch {
  clear: both;
  float: right; }
